@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprum.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumbold.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumitalic.woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumbolditalic.woff2");
  font-style: italic;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: Cuprum, "PT Sans", sans-serif;
  
  background-color: #3d546e;
}

h1 {
  font-family: Cuprum, "PT Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: Cuprum, "PT Sans", sans-serif; 
}

.main-navigation {
  background-color: #f4f7f9;
}

.header-top {
  background-color: #3d546e;
}

.main-logo {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.header-top__logo {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
}

.header-top__menu a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
}

.order {
  color: #ffffff;
  background-color: #ff5357;
}

.header-middle {
  background-color: #f4f7f9;
}

.header-middle__description {
  color: #ff5357;
  text-transform: none;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-middle__contacts-phone {
  color: #fb463c;
  font-size: 21px;
  line-height: 18px;
  border: 2px solid #ffffff;
}

.header-middle__contacts-address {
  color: #3d546e;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  background-color: #ffffff;
  text-decoration: none;
}

.main-menu {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.main-menu a {
  text-decoration: none;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-item {
  background-color: #ffbf47;
}

.promo-item__btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.promo-slider__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item__title {
  color: #000000;
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  
}

.catalog-item {
  background-color: #ffffff;
  text-decoration: none;
}

.catalog-item a {
  text-decoration: none;
}



.catalog-item__old-price {
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item__price {
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular {
  background-color: #f9f5f0;
}

.popular__title {
  color: #3d546e;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular__btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff5357;
}

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.services-button {
  background-color: #3d546e;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-item__description {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-item__title {
  color: #3d546e;
  background-color: #ffffff;
  font-weight: normal;
}


.shipping-company p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", normal;
}
.shipping-item {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}
